<div
  class="relative w-full min-h-[calc(100%-7rem)] lg:h-[calc(100%-7rem)] flex flex-col justify-center items-center pb-6 lg:pb-0">
  <p class="w-full text-4xl md:text-5xl font-bold text-stoke-red text-center">
    Best Anime Star
  </p>
  <div *ngIf="images.length == 2; else loading"
    class="w-full h-full lg:pb-24 2xl:pb-0 grid grid-cols-1 gap-6 items-center justify-center lg:flex pt-10 lg:pt-0 place-items-center">
    <app-card [data]="images[0]" color="#f64363" [callback]="vote" />
    <p class="mx-auto text-center py-12 lg:py-0 lg:px-24 text-7xl">
      VS
    </p>
    <app-card [data]="images[1]" color="#436AF6" [callback]="vote" />
  </div>
</div>

<ng-template #loading>
  <div class="w-full h-full flex justify-center items-center">
    <fa-icon [icon]="faSpinner" class="text-9xl text-stoke-red animate-spin" />
  </div>
</ng-template>