<div class="w-full body-content flex flex-col items-center justify-center lg:pb-28 pb-6">
  <p class="w-full text-4xl md:text-5xl font-bold text-stoke-red text-center">
    Best Anime Star
  </p>
  <div class="w-full h-full grid grid-cols-1 gap-6 items-center justify-center lg:flex pt-10 place-items-center">
    <div class="relative pr-2 w-[21rem] mx-auto md:w-96 h-[32.5rem] lg:h-[35rem]">
      <div
        class='w-full h-full mx-auto  overflow-hidden bg-white/50 rounded-xl border-[#f64363] border-2 self-center flex flex-col justify-start items-center'>
        <div class="w-full h-16 bg-white/50 flex justify-start items-center p-2 space-x-2">
          <div class="size-12 bg-white rounded-full"></div>
          <p [class]="'text-xl text-[#f64363] text-stroke-white'">MaouStan</p>
        </div>

        <!-- image -->
        <div class="w-full h-full bg-white"></div>

        <!-- name -->
        <div
          class="hidden lg:flex absolute max-w-full overflow-hidden -bottom-24 left-1/2 -translate-x-1/2 mx-auto w-fit px-12 py-4 text-2xl justify-center text-center items-center h-fit bg-[#f64363] rounded-tl-full rounded-br-full">
          <p class="text-ellipsis line-clamp-1 text-left">MaouStansssssssssssssssssss</p>
        </div>
      </div>
    </div>
    <p class="mx-auto text-center py-12 lg:py-0 lg:px-24 text-7xl">
      VS
    </p>
    <div class="relative pr-2 w-[21rem] mx-auto md:w-96 h-[32.5rem] lg:h-[35rem]">
      <div
        class='w-full h-full mx-auto  overflow-hidden bg-white/50 rounded-xl border-[#436AF6] border-2 self-center flex flex-col justify-start items-center'>
        <div class="w-full h-16 bg-white/50 flex justify-start items-center p-2 space-x-2">
          <div class="size-12 bg-white rounded-full"></div>
          <p [class]="'text-xl text-[#436AF6] text-stroke-white'">MaouStan</p>
        </div>

        <!-- image -->
        <div class="w-full h-full bg-white"></div>

        <!-- name -->
        <div
          class="hidden lg:flex absolute max-w-full overflow-hidden -bottom-24 left-1/2 -translate-x-1/2 mx-auto w-fit px-12 py-4 text-2xl justify-center text-center items-center h-fit bg-[#436AF6] rounded-tl-full rounded-br-full">
          <p class="text-ellipsis line-clamp-1 text-left">MaouStansssssssssssssssssss</p>
        </div>
      </div>
    </div>
  </div>
</div>