.card {
  // width: 1050px;
  // height: 680px;
  //   background-color: #f64363;
  background-color: rgba(246, 67, 99, 0.3);
  border-radius: 5px;
  border: 3px solid #f64363; /* Added border color */
  box-shadow: 0 4px 8px #f64363;
}

.img {
    border-radius: 4px;
    border: 2px solid #f64363;
    box-shadow: 0 4px 8px #000000;
}

.input {
  border-radius: 15px;
  border: 3px solid #f64363; /* Added border color */
  color: #000;
  padding-left: 1rem;
  font-weight: bold;
  font-size: 24px;
}
.button {
    height: 60px;
    background-color: #f64363;
    font-size: 32px;
    color: white;
    border-radius: 5px;
    box-shadow: 0 2px 8px #000000;
}   

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}