<table class="w-full h-auto">
  <thead class="w-full h-16 text-3xl font-bold">
    <tr>
      <th class="w-1/6">Rank</th>
      <th class="w-4/6">Name</th>
      <th class="w-1/6">Score</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users.slice(3)" class="relative w-full h-auto max-h-16 overflow-hidden text-xl">
      <td class="py-2">
        <p class="text-2xl font-bold gap-2">
          {{ user.currentRank }}
          <!-- old rank increase/decrease -->
          <fa-icon *ngIf="user.currentRank < user.yesterdayRank" [icon]="faArrowUp"
            class=" text-xs text-green-500" />
          <fa-icon *ngIf="user.currentRank > user.yesterdayRank" [icon]="faArrowDown"
            class=" text-xs text-red-500" />
          <!-- text -->
          <span *ngIf="user.yesterdayRank !== user.currentRank" class="text-xs"
            [style.color]="user.yesterdayRank < user.currentRank ? 'red' : 'green'">{{Math.abs(user.yesterdayRank
            - user.currentRank)}}</span>
        </p>
      </td>
      <td class="py-2 flex w-full h-24 items-center justify-start gap-4">
        <img class="size-20 object-cover rounded-full" [src]="user.imageURL" alt="User Image">
        {{ user.name }}
      </td>
      <td class="py-2">
        <p class="text-2xl font-bold flex gap-2">
          {{ user.currentScore }} pt
          <!-- yesterday score increase/decrease -->
          <fa-icon *ngIf="user.currentScore > user.yesterdayScore" [icon]="faArrowUp"
            class=" text-xs text-green-500" />
          <fa-icon *ngIf="user.currentScore < user.yesterdayScore" [icon]="faArrowDown"
            class=" text-xs text-red-500" />
          <!-- text -->
          <span *ngIf="user.yesterdayScore !== user.currentScore" class="text-xs"
            [style.color]="user.yesterdayScore > user.currentScore ? 'red' : 'green'">{{Math.abs(user.currentScore
            - user.yesterdayScore).toFixed(2)}}</span>
        </p>
      </td>
    </tr>
  </tbody>
</table>
