<div
  class="relative w-full body-content md:pb-6 md:px-24 flex flex-col items-center justify-center gap-6 overflow-hidden">
  <p class="w-full text-5xl font-bold text-stoke-red text-center">JoinUs</p>
  <div class="relative card p-6 w-full min-h-full grid grid-cols-1 gap-6 lg:gap-24 md:flex items-center justify-center">
    <a routerLink="/signin"
      class="w-full lg:w-96 h-[30rem] md:h-[23rem] lg:h-[30rem] bg-[#f643634d] rounded-lg border-[#f64363] border-4 flex flex-col justify-center items-center gap-4">
      <img class="w-full h-auto" src="../../../assets/images/natsu.svg" alt="" />
      <p class="w-full text-5xl font-bold text-stoke-red text-center">
        SignIn
      </p>
    </a>

    <a routerLink="/signup"
      class="w-full lg:w-96 h-[30rem] md:h-[23rem] lg:h-[30rem] bg-[#436af64d] rounded-lg border-[#436af6]  border-4 flex flex-col justify-center items-center gap-4">
      <img class="w-full h-auto" src="../../../assets/images/rem.svg" alt="" />
      <p class="w-full text-5xl font-bold text-stoke-red text-center">
        SignUp
      </p>
    </a>
  </div>
</div>