<body>
    <div class="w-full h-full flex items-center justify-center">
        <!-- <p class="w-full text-5xl font-bold text-stoke-blue text-center">
        Change Password
    </p> -->
        <div class="w-full h-full flex flex-col text-center" style="background-color: #070C22;">
            <img style="width: 395px; height: 285px; object-fit: cover;"
                src="https://hips.hearstapps.com/hmg-prod/images/jujutsu-kaisen-season-2-64a6dff90b3e8.png?crop=0.566xw:1.00xh;0,0&resize=1200:*"
                alt="">
            <div class="h-full flex flex-col justify-between">
                <div class="flex text-4xl">
                    <div class="w-full flex flex-col items-start justify-start pl-14 font-bold">
                        <a routerLink="/ad-dash" [routerLinkActive]="'text-red-500'" class="pt-5 text-4xl flex">
                            <fa-icon class="pr-6" [icon]="faChartColumn" />
                            Dashboard
                        </a>
                        <a routerLink="/ad-user" class="hov pt-5 text-4xl flex ">
                            <fa-icon class="pr-6" [icon]="faUser" />
                            Users
                        </a>
                        <a routerLink="/ad-ranks" class="hov pt-5 text-4xl flex ">
                            <fa-icon class="pr-6" [icon]="faMedal" />
                            Ranks
                        </a>
                        <a routerLink="/ad-report" class="hov pt-5 text-4xl flex ">
                            <fa-icon class="pr-6" [icon]="faFileContract" />
                            Report
                        </a>
                    </div>
                </div>
                <div class="pb-10 w-full flex flex-col items-start justify-start pl-14 font-bold">
                    <a href="#" class="hov pt-5 text-4xl flex ">
                        <fa-icon class="pr-6" [icon]="faRightFromBracket" />
                        Logout
                    </a>
                </div>
            </div>
        </div>
        <div style="background-color: rgb(18, 24, 44, 0.8); " class="w-full h-full p-10 space-y-10">
            <div style="width: 1500px;">
                <div class="w-full flex justify-center items-center pb-5" style="border-radius: 20px;">
                    <div class="pr-3">
                        <div
                            style="border-radius: 30px; background-color: #292F46; width: 500px; height: 250px; display: flex;  justify-content: center; align-items: center; ">
                            <fa-icon class="pr-6 text-[7.5rem]" [icon]="faUser" />
                            <div>
                                <p style="font-size: 32px;"><b>10,000</b></p>
                                <p style="font-size: 22px;"><b>Member count</b></p>
                            </div>
                        </div>
                    </div>
                    <div class="pr-3">
                        <div
                            style="border-radius: 30px; background-color: #292F46; width: 500px; height: 250px; display: flex;  justify-content: center; align-items: center; ">
                            <fa-icon class="pr-6 text-[7.5rem]" [icon]="faImage" />
                            <div>
                                <p style="font-size: 32px;"><b>10,000</b></p>
                                <p style="font-size: 22px;"><b>Images</b></p>
                            </div>
                        </div>
                    </div>
                    <div class="pr-3">
                        <div
                            style="border-radius: 30px; background-color: #292F46; width: 500px; height: 250px; display: flex;  justify-content: center; align-items: center; ">
                            <fa-icon class="pr-6 text-[7.5rem]" [icon]="faFileContract" />
                            <div>
                                <p style="font-size: 32px;"><b>10,000</b></p>
                                <p style="font-size: 22px;"><b>Reports</b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full flex justify-center items-center">
                <div style="background-color: #292F46; width: 1500px; height: 500px;">
                </div>
            </div>
        </div>
    </div>
</body>