<main class="relative w-full h-full max-h-full flex-grow flex-col pb-12 gap-6">
  <div class="relative flex flex-col w-full h-full grow">
    <!-- Title -->
    <div class="h-auto flex pt-4 md:pt-2 pb-4 md:py-0 md:pb-9 items-center justify-center">
      <p class="text-4xl md:text-6xl font-bold text-stoke-red text-center">
        <!-- icon -->
        <fa-icon [icon]="faTrophy" class="text-6xl md:text-7xl text-stoke-red" />
        Anime Ranking
      </p>
    </div>
    <!-- Top3 -->
    <div class="w-full h-auto">
      <div class="w-full flex flex-col gap-4 justify-center items-center">
        <div class="w-full flex flex-col gap-4 justify-center items-center text-6xl text-center font-bold px-48">
          <!-- row1 top 1 -->
          <div class="realtive w-auto h-auto">
            #1
            <app-card />
          </div>
          <!-- row2 top 2 left, 3 right -->
          <div class="w-full flex gap-4 justify-between items-center">
            <div class="realtive w-auto h-auto">
              #2
              <app-card />
            </div>
            <div class="realtive w-auto h-auto">
              #3
              <app-card />
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Another -->
    <div class="w-5/6 mx-auto h-auto">
      <!-- table, head -> rank,  name, score -->
      <table class="w-full h-auto">
        <thead class="w-full h-16 text-3xl font-bold">
          <tr>
            <th class="w-1/6">Rank</th>
            <th class="w-4/6">Name</th>
            <th class="w-1/6">Score</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let x of [4,5,6,7,8,9,10]" class="relative w-full h-auto max-h-16 overflow-hidden text-xl">
            <td class="py-2">{{x}}</td>
            <td class="py-2 flex w-full h-24 items-center justify-start gap-4">
              <img class="w-auto h-full object-cover rounded-full"
                src="https://i.pinimg.com/736x/6d/19/ef/6d19efefb4a82eda8e8eaa6908ca8d8f.jpg">
              Song Jin Woo
            </td>
            <td class="py-2">1000000</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>