<body>
    <div class="w-full h-full flex items-center justify-center">
        <!-- <p class="w-full text-5xl font-bold text-stoke-blue text-center">
        Change Password
    </p> -->
        <div class="w-full h-full flex flex-col text-center" style="background-color: #070C22;">
            <img style="width: 395px; height: 285px; object-fit: cover;"
                src="https://hips.hearstapps.com/hmg-prod/images/jujutsu-kaisen-season-2-64a6dff90b3e8.png?crop=0.566xw:1.00xh;0,0&resize=1200:*"
                alt="">
            <button class="hov pt-5 text-xl"><b>Dashboard</b></button>
            <button class="hov pt-5 text-xl"><b>Users</b></button>
            <button class="hov pt-5 text-xl"><b>Ranks</b></button>
            <button class="hov pt-5 text-xl"><b>Report</b></button>
            <div style="padding-top: 350px;">
                <button class="hov text-xl"><b>Logout</b></button>
            </div>
        </div>
        <div style="background-color: rgb(18, 24, 44, 0.8);" class="w-full h-full p-10">
            <div class="flex justify-between pb-3">
                <div class="w-full flex flex-end items-center" style="display: flex; justify-content: flex-end;">
                    <p class="text-xl pb-5 pr-5"><b>Sort by</b></p>
                    <mat-form-field>
                        <mat-label style="font-weight: bold; color: black;">Ranks</mat-label>
                        <mat-select>
                            @for (food of foods; track food) {
                            <mat-option [value]="food.value">{{food.viewValue}}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div style="width: 1200px;" class="w-full flex justify-center items-center">
                <ng-container *ngFor="let _ of [].constructor(4)">
                    <div class="flex justify-center items-center pr-2" style="width: 270px; height: 320px;">
                        <div
                            class='w-full h-full mx-auto overflow-hidden bg-white/50 rounded-xl border-[#f64363] border-2 self-center flex flex-col justify-start items-center'>
                            <div class="w-full h-16 bg-white/50 flex justify-start items-center p-2 space-x-2">
                                <div class="size-12 bg-white rounded-full"></div>
                                <p [class]="'text-xl text-[#f64363] text-stroke-white'">MaouStan</p>
                            </div>
                            <!-- image -->
                            <div class="w-full h-full bg-white">
                                <img style="width: 346px; height: 456px;"
                                    src="https://i.pinimg.com/originals/10/c2/c2/10c2c227f83c695cd4c08981e85a540b.jpg"
                                    alt="">
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
            <div class="w-full flex justify-center items-center pt-3">
                <ng-container *ngFor="let _ of [].constructor(4)">
                    <div class="w-full flex justify-center items-center pr-2" style="width: 270px; height: 320px;">
                        <div
                            class='w-full h-full mx-auto overflow-hidden bg-white/50 rounded-xl border-[#f64363] border-2 self-center flex flex-col justify-start items-center'>
                            <div class="w-full h-16 bg-white/50 flex justify-start items-center p-2 space-x-2">
                                <div class="size-12 bg-white rounded-full"></div>
                                <p [class]="'text-xl text-[#f64363] text-stroke-white'">MaouStan</p>
                            </div>

                            <!-- image -->
                            <div class="bg-white">
                                <img style="width: 346px; height: 456px;"
                                    src="https://i.pinimg.com/originals/10/c2/c2/10c2c227f83c695cd4c08981e85a540b.jpg"
                                    alt="">
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
            <div class="w-full flex pt-10 items-center justify-center">
                <div class="pr-2">
                    <button class="button">prev</button>
                </div>
                <div class="pr-2">
                    <input class="text-center"
                        style="font-weight: 600; font-size: 20px; width: 30px; height: 30px; color: #F64363;"
                        type="text">
                </div>
                <div class="pr-2">
                    <p class="" style="font-weight: 400; font-size: 20px; color: #F64363;">of 30</p>
                </div>
                <div>
                    <button class=" button">next</button>
                </div>
            </div>
        </div>
    </div>

</body>