<main class="relative w-full h-full container mx-auto">
    <app-navbar-edit />

    <div class="w-full h-[100%-7rem] flex flex-col items-center justify-center">
        <p class="w-full text-5xl font-bold text-stoke-red text-center">Edit Profile</p>
        <div class="w-full flex justify-between items-center pt-10">
        </div>
        <div class="card">
            <div>
                <span class="material-symbols-outlined">
                    arrow_left_alt
                </span>
            </div>
            <div style="display: flex; justify-content: center;">
                <div style="padding: 4rem;">
                    <img class="img" src="https://i1.sndcdn.com/avatars-QYo5FTkrCj11aJZ7-vEA04Q-t500x500.jpg" alt="">
                </div>
            </div>
            <div style="display: flex; justify-content: center;">
                <button class="button">Update</button>
            </div>
        </div>
    </div>
</main>