@import url("https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
/* You can add global styles to this file, and also import other style files */

* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  min-height: 100vh;
  min-height: --moz-available;
  min-height: fill-available;
  min-height: -webkit-fill-available;
  text-rendering: optimizeSpeed;
}

body {
  position: relative;
  font-family: "Kadwa", "Helvetica Neue", sans-serif;
  background-image: url("./assets/images/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: #fefefe;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
